body {
    background: pink;
    color: maroon;
    font-family: cursive;
    font-size: 20px;
    background-image: url(../images/cute-and-simple-love-pattern-for-background-valentine-wallpaper-design-vector.jpg);
    /* comment! */
    text-align: center;
}

section {
    background-color: lightcoral;
    margin: auto 10%;
    padding: 30px;
    border-color: maroon;
    border-style: dotted;
    border-width: 5px;
    border-radius: 10px;
}

form {
    background-color: firebrick;
    color: beige;
}

h1 {
    font-size: 48px;
}

em {
    font-family: sans-serif;
    font-style: normal;
    font-size: 80px;
}

.css {
    color: beige;
}

.html {
    color: pink;
}

button {
    font-weight: 200;
    color: maroon;
    font-style: normal;
    background-color: beige;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}